@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="outer">
    <div class="container">
        <div class="logo">
            <img src="~/images/storename.png" alt="">
        </div>
        <div class="choice-btn">
            <form asp-action="LoginForm" asp-controller="Account" method="post" class="loginForm">
                @if (ViewData["isManager"] != null && (bool)ViewData["isManager"] == true)
                {
                    <h1>Manager</h1>
                }
                else
                {
                    <h1>Not Manager</h1>
                }
                <label for="employeeId">Employee ID</label>
                <input type="text" id="employeeId" name=" Username"/>
                <label for="password">Password</label>
                <input type="text" id="password" name="Password"/>
                <input type="submit" class="btn manager-btn" value="Login">
            </form>
        </div>
    </div>
</div>
