@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="outer">
    <div class="container">
        <div class="logo">
            <img src="images/storename.png" alt="">
        </div>
        <div class="choice-btn">
            <form asp-action="Login" asp-controller="Account" method="post">
                <input type="submit" name="Manager" value="Manager" class="btn manager-btn">
                <input type="submit" name="Staff" value="Staff" class="btn staff-btn">
            </form>
        </div>
    </div>
</div>
        
