@{
    ViewData["Title"] = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-title">
    <h1>Transaction History</h1>
    <p>Main Menu | Transaction History</p>
</div>