@{
    ViewData["Title"] = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model amiscosa_hardware_and_sales_inventory_system.Domain.Models.TransactionHistoryModel;
}

<div class="content-title">
    <h1>Transaction History</h1>
    <p>Main Menu | Transaction History</p>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="content-search-and-filter">
            <div class="search-and-filter">
                <form action="" class="form-v-center">
                    <fieldset class="search-bar search-field medium">
                        <label for="search-input">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_11_108)">
                                        <path d="M6 11.5C9.03757 11.5 11.5 9.03757 11.5 6C11.5 2.96243 9.03757 0.5 6 0.5C2.96243 0.5 0.5 2.96243 0.5 6C0.5 9.03757 2.96243 11.5 6 11.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 13.5L10 10" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_11_108">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>

                        </label>
                        <input type="text" name="" id="search-input" placeholder="Search anything here..">
                    </fieldset>

                    <fieldset class="filter">
                        <button class="filter-btn medium">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_10_103)">
                                    <path d="M13.5 0.5H0.5L5.5 7.5V13.5L8.5 11.5V7.5L13.5 0.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_10_103">
                                        <rect width="14" height="14" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <p>Filter</p>
                        </button>
                    </fieldset>
                </form>
            </div>
            <div class="filter">
            </div>
        </div>
        <table id="transaction-history-table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Staff ID</th>
                    <th>Customer ID</th>
                    <th>Transaction Date</th>
                </tr>
            </thead>
            <tbody>
                @* <tr>
                    <td>0001</td>
                    <td>0001</td>
                    <td>0001</td>
                    <td>John Drexler Cubebe</td>
                    <td>Power Drill</td>
                    <td>1</td>
                    <td>2000.00</td>
                </tr> *@

                @foreach(amiscosa_hardware_and_sales_inventory_system.Domain.Entities.Transaction transactionHistory in Model.TransactionList!)
                {
                    <tr>
                        <td>@transactionHistory.TransactionID</td>
                        <td>@transactionHistory.StaffID</td>
                        <td>@transactionHistory.CustomerID</td>
                        <td>@transactionHistory.TransactionDate</td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="bottom-blocker"></div>
    </div>
</div>