:root {
    --bg-white: #ffffff;
    --bg-gray: #f8f8f8;
    --text-gray: #6b6b6b;
    --border-gray: #d3d3d3;
    --light-orange: #fff5e5;
    --medium-orange: #fea426;
    --dark-orange: #ff9400;
    --text-black: #222222;
    --warning: #f44336;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    background-color: #F8F8F8;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

header {
    display: block;
    flex: 0 0 300px;
    min-width: 300px
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px;
}

input {
    outline: none;
}

fieldset {
    border: none;
}

/* Navigation */

nav {
    position: fixed;
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    border: 0.5px solid var(--border-gray);
}

    nav h1 {
        margin-left: -20px;
        padding-left: 20%;
        color: #6B6B6B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 50px;
        display: flex;
        align-items: center;
    }

    nav .logo {
        height: 60px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 1px solid #6B6B6B;
        margin-bottom: 30px;
    }

    nav .main-menu,
    nav .other-menu,
    nav .log-out {
        width: 100%;
    }

    nav .main-menu {
        margin-bottom: 40px;
    }

    nav .log-out {
        margin-top: auto;
        /* margin-bottom: 20px; */
    }

    nav ul li {
        display: block;
        width: 100%;
        height: 60px;
    }

        nav ul li a {
            display: flex;
            align-items: center;
            padding-left: 50px;
            width: 100%;
            height: 100%;
            color: var(--text-black);
        }

        nav ul li span {
            display: flex;
            align-items: center;
        }

            nav ul li span svg {
                stroke: var(--text-black);
            }

        nav ul li p {
            margin-left: 20px;
        }


    nav ul a.current {
        background-color: var(--light-orange);
        border-right: 2px solid #FF9400;
        color: var(--dark-orange)
    }

        nav ul a.current svg {
            stroke: var(--dark-orange)
        }

    nav ul a:hover {
        background-color: var(--light-orange);
        /* border-right: 2px solid #FF9400; */
    }

/* Top Bar */

.top-bar {
    flex: 0 0 60px;
    display: flex;
    background-color: var(--bg-white);
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    border: 0.5px solid var(--border-gray);
}

.notification-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.employee-profile span {
    display: flex;
    padding: 0 20px;
    border-left: 1px solid #6B6B6B;
}

    .employee-profile span p {
        margin-left: 10px;
    }

/* Main Area */
.content-title {
    margin-bottom: 10px;
}

.utility-buttons {
    display: flex;
    justify-content: flex-end;
    
}

.restock-item,
.add-item{
    margin-top: -60px;
    margin-left: 10px
}



.content-wrapper {
    border-radius: 20px;
    border: 1px solid #D3D3D3;
    overflow: hidden;
}

.content-container {
    height: 78vh;
    width: 100%;
    background-color: var(--bg-white);
    border-radius: 20px;
    padding: 0 20px;
    overflow: hidden;
    overflow: auto;
    position: relative;
}

    .content-container::-webkit-scrollbar {
        width: 5px;
    }

    .content-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .content-container::-webkit-scrollbar-thumb {
        background: #888;
    }

    .content-search-and-filter {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
        padding-top: 30px;
    }

        .search-and-filter {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
        }

            .search-and-filter form {
                justify-content: flex-end;
            }

            .search-and-filter .search-bar {
                display: flex;
                align-items: center;
                padding: 5px 15px;
                width: 320px;
                margin-right: 20px;
            }

                 .search-and-filter .search-bar input[type='text'] {
                    padding-left: 10px;
                    width: 100%;
                }

            .search-and-filter .filter .filter-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid var(--border-gray);
                color: var(--text-gray);
                background: #FFF;
                cursor: pointer;
            }

                .search-and-filter .filter .filter-btn p {
                    padding-left: 5px;
                }

            .search-and-filter #search-icon {
                width: fit-content;
            }


    .content-container .bottom-blocker {
        position: sticky;
        bottom: 0;
        height: 30px;
        background-color: white;
    }

    .content-container table {
        width: 100%;
        position: relative;
    }

        .content-container table thead {
            height: 60px;
            position: sticky;
            top: 65px;
            z-index: 1;
            background-color: var(--bg-white);
        }

            .content-container table thead th {
                text-align: left;
                padding: 20px 10px;
            }

        .content-container table tr {
            height: 60px;
            border-bottom: 0.5px solid var(--border-gray);
        }

/* Dashboard */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    gap: 20px;
}

    .dashboard-container .revenue {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .dashboard-container .profit {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .dashboard-container .payment-history {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }


        .dashboard-container .payment-history #payment-history-table {
            margin: 20px auto;
            width: 100%;
        }

            .dashboard-container .payment-history #payment-history-table tr {
                border: none; /* remove inital borders */
                border-top: 0.5px solid var(--border-gray);
                border-bottom: 0.5px solid var(--border-gray);
                height: 60px;
            }

                .dashboard-container .payment-history #payment-history-table tr td:nth-child(2) {
                    color: var(--text-gray);
                }


    .dashboard-container .notification-panel {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        position: relative;
    }

        .dashboard-container .notification-panel .see-all-btn {
            position: absolute;
            top: 40px;
            right: 40px;
            color: var(--text-gray);
            font-size: 14px;
            font-weight: 500px;
        }

        .dashboard-container .notification-panel div.dashboard-table-container {
            flex: 1;
        }

        .dashboard-container .notification-panel #notification-panel-table {
            margin: 20px auto;
            width: 100%;
        }

            .dashboard-container .notification-panel #notification-panel-table tr {
                border: none; /* remove inital borders */
                border-top: 0.5px solid var(--border-gray);
                border-bottom: 0.5px solid var(--border-gray);
                height: 60px;
            }

            .dashboard-container .notification-panel #notification-panel-table tr {
                font-weight: 500;
            }

            .dashboard-container .notification-panel #notification-panel-table .red-text {
                color: var(--warning);
            }


    .dashboard-container .daily-transaction {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .dashboard-container h1 {
        color: var(--dark-orange);
    }

    .dashboard-container p.dashboard-title {
        font-size: 18px;
        font-weight: 500;
    }

    .dashboard-container .revenue,
    .dashboard-container .profit,
    .dashboard-container .daily-transaction,
    .dashboard-container .payment-history {
        display: flex;
        flex-direction: column;
    }


        .dashboard-container .revenue h1,
        .dashboard-container .profit h1,
        .dashboard-container .daily-transaction h1 {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 42px;
            color: var(--dark-orange);
        }

    .dashboard-container .dashboard-table-container {
        height: 35vh;
        overflow: auto;
        margin-top: 20px;
    }

        .dashboard-container .dashboard-table-container::-webkit-scrollbar {
            width: 5px;
        }

        .dashboard-container .dashboard-table-container::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .dashboard-container .dashboard-table-container::-webkit-scrollbar-thumb {
            background: #888;
        }



.rounded-container {
    border-radius: 20px;
    border: 1px solid var(--border-gray);
    background: #FFF;
    padding: 40px;
}


/* Inventory */

.restock-search {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.content-container #inventory-table {
    width: 100%;
    position: relative;
}

    .content-container #inventory-table thead {
        height: 60px;
        position: sticky;
        top: 65px;
        z-index: 1;
        background-color: var(--bg-white);
    }

        .content-container #inventory-table thead th {
            text-align: left;
            padding: 20px 10px;
        }

            .content-container #inventory-table thead th:last-child {
                text-align: center;
            }

    .content-container #inventory-table tr {
        height: 60px;
        border-bottom: 0.5px solid var(--border-gray);
    }

        .content-container #inventory-table tr td:nth-child(2) {
            width: 260px;
        }

        .content-container #inventory-table tr td:last-child {
            text-align: center;
        }


        .content-container #inventory-table tr td button.edit-product {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 5px;
            background: #1885F2;
            border: none;
            cursor: pointer;
        }

        .content-container #inventory-table tr td button.del-product {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 5px;
            background: #E60B2F;
            cursor: pointer;
        }

            

/* Pop Up Logout */
.logoutCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 10px;
    z-index: 1000;
    background-color: var(--bg-white);
    border: 0.5px solid var(--border-gray);
    border-radius: 20px;
    background-color: #fff;
}

    .logoutCard p {
        font-size: 30px;
        font-weight: 700;
        padding: 40px 20px;
    }

    .logoutCard .logout-choices {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

        .logoutCard .logout-choices a {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }

            .logoutCard .logout-choices a#yes-btn {
                background-color: #f44336;
                color: white;
                border-bottom-right-radius: 10px;
            }

            .logoutCard .logout-choices a#no-btn {
                background-color: #d3d3d3;
                border-bottom-left-radius: 10px;
                color: var(--text-black);
            }

/* Pop Up Restock Form*/
#restockPopup h1 {
    margin-bottom: 20px;
}

#submitRestock {
    margin-top: 30px;
    padding: 5px 20px;
}

/* Pop Up Add Form */
#addPopup h1 {
    margin-bottom: 20px;
}

#submitAdd {
    margin-top: 30px;
    padding: 5px 20px;
}


/* Pop Up EDIT Form */

#editPopup h1 {
    margin-bottom: 20px;
}

#editPopup p {
    margin-bottom: 10px;
    font-weight: bold;
}

#submitEdit {
    margin-top: 30px;
    padding: 5px 20px;
}


/* Transaction */
.search-customer-container {
    margin-top: 30px;
}

    .search-customer-container .search-customer-form fieldset {
        display: flex;
        width: 80%;
        padding: 5px 15px;
        background-color: var(--bg-gray);
    }

    .search-customer-container .search-customer-form svg {
        margin-right: 10px;
    }

    .search-customer-container .search-customer-form fieldset #search-customer {
        padding-left: 10px;
        width: 100%;
        background-color: transparent;
    }

.search-customer-btn {
    margin-left: 10px;
    flex: 1;
    height: 30px;
}

.select-product-container {
    margin-top: 15px;
}

    .select-product-container .select-product-form fieldset {
        display: flex;
        width: 80%;
        padding: 5px 15px;
        background-color: var(--bg-gray);
    }

    .select-product-container .select-product-form svg {
        margin-right: 10px;
    }

    .select-product-container .select-product-form fieldset #select-product {
        padding-left: 10px;
        width: 100%;
        background-color: transparent;
    }

.select-product-btn {
    margin-left: 10px;
    flex: 1;
    height: 30px;
}

.product-listing-wrapper {
    border-radius: 20px;
    border: 0.5px solid var(--border-gray);
    overflow: hidden;
    margin-top: 30px;
}

.product-listing-content-container {
    border-radius: 20px;
    height: 50vh;
    width: 100%;
    padding: 0 20px;
    overflow: auto;
}

    .product-listing-content-container::-webkit-scrollbar {
        width: 5px;
    }

    .product-listing-content-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .product-listing-content-container::-webkit-scrollbar-thumb {
        background: #888;
    }

#product-listing {
    width: 100%;
    overflow: auto;
}


    #product-listing thead {
        top: 0;
        height: 60px;
        position: sticky;
        z-index: 1;
        background-color: var(--bg-white);
    }

        #product-listing thead th {
            text-align: left;
            padding: 20px 10px;
        }

    #product-listing tr {
        height: 60px;
        border-bottom: 0.5px solid var(--border-gray);
    }

        #product-listing tr td:nth-child(2) {
            width: 260px;
        }

        #product-listing tr td:nth-child(3) form input[type="number"] {
            display: block;
            width: 100px;
            height: 36px;
            background-color: var(--bg-gray);
            border: 0.5px solid var(--border-gray);
            border-radius: 2px;
            padding-left: 10px;
        }

        #product-listing tr td button.del-listing {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 5px;
            background: #E60B2F;
            cursor: pointer;
        }

.confirm-transaction {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.confirm-btn {
    width: 250px;
    height: 40px;
}

/* Customer */
.add-customer {
    margin-top: -60px;
}

.content-container #customer-table {
    width: 100%;
    position: relative;
}

    .content-container #customer-table thead {
        height: 60px;
        position: sticky;
        top: 65px;
        z-index: 1;
        background-color: var(--bg-white);
    }

        .content-container #customer-table thead th {
            text-align: left;
            padding: 20px 10px;
        }

            .content-container #customer-table thead th:last-child {
                text-align: center;
            }

    .content-container #customer-table tr {
        height: 60px;
        border-bottom: 0.5px solid var(--border-gray);
    }

        /* .content-container #customer-table th td:nth-child(1){
    width: 50px;
} */

        .content-container #customer-table tr td:nth-child(1) {
            width: 200px;
        }

        .content-container #customer-table tr td:nth-child(2) {
            width: 260px;
        }

        .content-container #customer-table tr td:last-child {
            text-align: center;
        }


        .content-container #customer-table tr td button.edit-customer {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 5px;
            background: #1885F2;
            border: none;
            cursor: pointer;
        }

        .content-container #customer-table tr td button.del-customer {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 5px;
            background: #E60B2F;
            cursor: pointer;
        }

/* Transaction History */

#transaction-history-table thead tr th:nth-child(1) {
    width: 200px;
}

#transaction-history-table thead tr th:nth-child(2) {
    width: 150px;
}

/* #transaction-history-table thead tr th:nth-child(3){
} */

/* Reports */
#report-content-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.revenue-sort-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    right: 40px;
}

    .revenue-sort-date #month-dropdown {
        flex: 1;
        border: none;
        outline: none;
        padding: 0 5px;
        font-size: 16px;
        color: var(--dark-orange);
    }

.revenue-and-profit {
    display: flex;
    margin-bottom: 20px;
}
    .revenue-and-profit p {
        font-weight: 500;
    }

    .report-statistic div {
        min-width: 280px;
        padding: 0 20px;
    }

    .revenue-and-profit .total-revenue {
        display: inline-block;
        margin: 20px 20px 20px;
    }

        .revenue-and-profit .total-revenue h1 {
            color: var(--dark-orange);
            font-size: 42px;
        }

    .revenue-and-profit .total-profit {
        display: inline-block;
        margin: 20px 20px 20px;
    }

        .revenue-and-profit .total-profit h1 {
            color: var(--dark-orange);
            font-size: 42px;
        }

.report-statistic {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}



    .report-statistic p {
        font-weight: 500;
    }

    .report-statistic svg {
        stroke: var(--dark-orange);
    }

    .report-statistic div {
        display: flex;
        flex-direction: column;
        margin: 0 20px 20px;
        width: 280px;
        height: 150px;
        border: 1px solid var(--border-gray);
        padding: 20px;
        border-radius: 20px;
        border: 1px solid var(--border-gray);
        background: #FFF;
        text-overflow: ellipsis;
    }

        .report-statistic div p {
            display: flex;
            align-items: center;
        }

            .report-statistic div p svg {
                margin-right: 10px;
            }

        .report-statistic div h1 {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 42px;
            color: var(--dark-orange);
        }

.sales-report-wrapper {
    border-radius: 20px;
    border: 0.5px solid var(--border-gray);
    overflow: hidden;
    flex: 1;
    margin: 20px;
}

.sales-report-content-container {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    overflow: auto;
}

    .sales-report-content-container::-webkit-scrollbar {
        width: 5px;
    }

    .sales-report-content-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .sales-report-content-container::-webkit-scrollbar-thumb {
        background: #888;
    }

#sales-table {
    width: 100%;
    overflow: auto;
}


    #sales-table thead {
        top: 0;
        height: 60px;
        position: sticky;
        z-index: 1;
        background-color: var(--bg-white);
    }

        #sales-table thead th {
            text-align: left;
            padding: 20px 10px;
        }

    #sales-table tr {
        height: 60px;
        border-bottom: 0.5px solid var(--border-gray);
    }

/* Report */
#alert-history-table {
    margin: 40px auto;
    width: 95%;
}

    #alert-history-table tr {
        border: none; /* remove inital borders */
        border-top: 0.5px solid var(--border-gray);
        border-bottom: 0.5px solid var(--border-gray);
    }

        #alert-history-table tr td {
            display: flex;
            min-height: 100px;
        }

            #alert-history-table tr td .red-text {
                color: var(--warning);
            }

            #alert-history-table tr td .alert-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
            }

            #alert-history-table tr td .alert-text {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }





































/* Pop Up */
#PopupOverlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's above other elements */
}

.popupCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 50px;
    z-index: 1000;
    background-color: var(--bg-white);
    border: 0.5px solid var(--border-gray);
    border-radius: 20px;
}

#exitPopupCard {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.popupCardFormContainer {
    display: flex;
    flex-direction: column;
}

    .popupCardFormContainer .form-row {
        display: flex;
        width: 100%;
        gap: 10px;
    }

        .popupCardFormContainer .form-row div {
            width: 100%;
        }

        .popupCardFormContainer .form-row:nth-child(3),
        .popupCardFormContainer .form-row:nth-child(4),
        .popupCardFormContainer .form-row:nth-child(5) {
            justify-content: flex-end;
        }

        .popupCardFormContainer label {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
        }

        .popupCardFormContainer .form-row input[type='text'] {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--border-gray);
            font-size: 16px;
            font-weight: 400;
            padding: 0 10px;
            margin-bottom: 10px;
        }

        .popupCardFormContainer input[type="number"] {
            display: block;
            width: 100px;
            height: 36px;
            background-color: var(--bg-gray);
            border: 0.5px solid var(--border-gray);
            border-radius: 2px;
            padding-left: 10px;
        }
        

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

/* Forms */
input {
    outline: none;
    border: none;
}

.form-v-center {
    display: flex;
    align-items: center;
}

.search-field {
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    background: #FFF;
}

/* Components */
button {
    border: none;
}

.rounded-box {
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    background: #FFF;
}

.add-btn {
    width: 200px;
}

    .add-btn svg {
        margin-right: 10px;
    }

.orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: var(--medium-orange);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.standard {
    height: 30px;
}

.medium {
    height: 36px;
}

.large {
    height: 54px;
}
