:root {
    --bg-white: #ffffff;
    --bg-gray: #f8f8f8;
    --text-gray: #6b6b6b;
    --border-gray: #d3d3d3;
    --light-orange: #fff5e5;
    --medium-orange: #fea426;
    --dark-orange: #ff9400;
    --text-black: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    background-color: #F8F8F8;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

header {
    display: block;
    flex: 0 0 300px;
    min-width: 300px
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px;
}

input {
    outline: none;
}

/* Navigation */

nav {
    position: fixed;
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    border: 0.5px solid var(--border-gray);
}

    nav h1 {
        margin-left: -20px;
        padding-left: 20%;
        color: #6B6B6B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 50px;
        display: flex;
        align-items: center;
    }

    nav .logo {
        height: 60px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 1px solid #6B6B6B;
        margin-bottom: 30px;
    }

    nav .main-menu,
    nav .other-menu,
    nav .log-out {
        width: 100%;
    }

    nav .main-menu {
        margin-bottom: 40px;
    }

    nav .log-out {
        margin-top: auto;
        /* margin-bottom: 20px; */
    }

    nav ul li {
        display: block;
        width: 100%;
        height: 60px;
    }

        nav ul li a {
            display: flex;
            align-items: center;
            padding-left: 50px;
            width: 100%;
            height: 100%;
            color: var(--text-black);
        }

        nav ul li span {
            display: flex;
            align-items: center;
        }

            nav ul li span svg {
                stroke: var(--text-black);
            }

        nav ul li p {
            margin-left: 20px;
        }


    nav ul a.current {
        background-color: var(--light-orange);
        border-right: 2px solid #FF9400;
        color: var(--dark-orange)
    }

        nav ul a.current svg {
            stroke: var(--dark-orange)
        }

    nav ul a:hover {
        background-color: var(--light-orange);
        /* border-right: 2px solid #FF9400; */
    }

/* Top Bar */

.top-bar {
    flex: 0 0 60px;
    display: flex;
    background-color: var(--bg-white);
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    border: 0.5px solid var(--border-gray);
}

.notification-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.employee-profile span {
    display: flex;
    padding: 0 20px;
    border-left: 1px solid #6B6B6B;
}

    .employee-profile span p {
        margin-left: 10px;
    }

/* Main Area */
.content-title {
    margin-bottom: 10px;
}

.add-item {
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    width: 150px;
    margin-top: -60px;
}

    .add-btn svg {
        margin-right: 10px;
    }

.content-wrapper {
    border-radius: 20px;
    border: 1px solid #D3D3D3;
    overflow: hidden;
}

.content-container {
    height: 78vh;
    width: 100%;
    background-color: var(--bg-white);
    border-radius: 20px;
    padding: 0 20px;
    overflow: hidden;
    overflow: auto;
    position: relative;
}

    .content-container::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .content-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .content-container::-webkit-scrollbar-thumb {
        background: #888;
    }

    .content-container .bottom-blocker {
        position: sticky;
        bottom: 0;
        height: 30px;
        background-color: white;
    }

    .content-container table {
        width: 100%;
    }

        .content-container table thead {
            height: 60px;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--bg-white);
        }

            .content-container table thead th {
                text-align: left;
                padding: 30px 10px;
            }

                .content-container table thead th:last-child {
                    text-align: center;
                }

        .content-container table tr {
            height: 60px;
            border-bottom: 0.5px solid var(--border-gray);
        }

            .content-container table tr td:nth-child(2) {
                width: 260px;
            }

            .content-container table tr td:last-child {
                text-align: center;
            }


            .content-container table tr td button.edit-product {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                border-radius: 5px;
                background: #1885F2;
                border: none;
                cursor: pointer;
            }

            .content-container table tr td button.del-product {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                border-radius: 5px;
                background: #E60B2F;
                cursor: pointer;
            }

    .content-container .content-search-and-filter {
        padding-top: 30px;
    }

        .content-container .content-search-and-filter .search-and-filter form {
            justify-content: flex-end;
        }

        .content-container .content-search-and-filter .search-and-filter .search-bar {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            width: 320px;
            border: 1px solid var(--text-gray);
            color: var(--text-gray);
            margin-right: 20px;
        }

            .content-container .content-search-and-filter .search-and-filter .search-bar input[type='text'] {
                padding-left: 10px;
                width: 100%;
            }

        .content-container .content-search-and-filter .search-and-filter .filter .filter-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid var(--text-gray);
            color: var(--text-gray);
            background: #FFF;
            cursor: pointer;
        }

            .content-container .content-search-and-filter .search-and-filter .filter .filter-btn p {
                padding-left: 5px;
            }

/* Pop Up Add Form */
#addPopup h1 {
    margin-bottom: 20px;
}

#submitAdd {
    margin-top: 30px;
    width: 120px;
}

/* Pop Up EDIT Form */

#editPopup h1 {
    margin-bottom: 20px;
}

#editPopup p {
    margin-bottom: 10px;
    font-weight: bold;
}

#submitEdit {
    margin-top: 30px;
    width: 120px;
}

/* Transaction */
.search-customer-container {
    margin-top: 30px;
}

    .search-customer-container form {
        display: flex;
    }

.search-customer {
    width: 75%;
    padding-left: 20px
}

.search-customer-btn {
    margin-left: 10px;
    flex: 1;
    height: 30px;
}



/* Pop Up */
#PopupOverlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's above other elements */
}

.popupCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 50px;
    z-index: 1000;
    background-color: var(--bg-white);
    border: 0.5px solid var(--border-gray);
    border-radius: 20px;
}

#exitPopupCard {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


.popupCardFormContainer {
    display: flex;
    flex-direction: column;
}

    .popupCardFormContainer .form-row {
        display: flex;
        width: 100%;
        gap: 10px;
    }

        .popupCardFormContainer .form-row div {
            width: 100%;
        }

        .popupCardFormContainer .form-row:nth-child(4) {
            justify-content: flex-end;
        }

        .popupCardFormContainer .form-row label {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
        }

        .popupCardFormContainer .form-row input[type='text'] {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--border-gray);
            font-size: 16px;
            font-weight: 400;
            padding: 0 10px;
            margin-bottom: 10px;
        }

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}






/* Forms */
input {
    outline: none;
    border: none;
}

fieldset {
    border: none;
}

.form-v-center {
    display: flex;
    align-items: center;
}

.search-field {
    border-radius: 5px;
    border: 1px solid #222;
    background: #FFF;
}

/* Components */
button {
    border: none;
}

.orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: var(--medium-orange);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.standard {
    height: 30px;
}

.medium {
    height: 36px;
}

.large {
}
